<div id="calendar_values" class="">
    <button hx-post="/save_date/{{prev_date}}" hx-target="#calendar" class="p-8 w-32 h-32 m-0 border rounded text-center text-blue-500 {% if selected_date|format_date == prev_date|format_date %}bg-purple-50 border-2 border-purple-700 hover:bg-purple-100 hover:border-purple-800 {% endif %} hover:bg-indigo-50 hover:border-indigo-200">{{ prev_date|format_date }}</button>
    <button hx-post="/save_date/{{current_date}}" hx-target="#calendar" class="p-8 w-32 h-32 m-0 border rounded text-center text-blue-500 {% if selected_date|format_date == current_date|format_date %}bg-purple-50 border-2 border-purple-700 hover:bg-purple-100 hover:border-purple-800 {% endif %} hover:bg-indigo-50 hover:border-indigo-200">{{ current_date|format_date }}</button>
    <button hx-post="/save_date/{{next_date}}" hx-target="#calendar" class="p-8 w-32 h-32 m-0 border rounded text-center text-blue-500 {% if selected_date|format_date == next_date|format_date %}bg-purple-50 border-2 border-purple-700 hover:bg-purple-100 hover:border-purple-800 {% endif %} hover:bg-indigo-50 hover:border-indigo-200">{{ next_date|format_date }}</button>
</div>


